body {
    font-family: Arial;
    font-size: 14px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 560px;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}


.menu-con {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #555;
    width: 220px;
}


.khoahoc:hover .menu-con {
    display: block;
}

.menu-con li {
    position: relative;
}

.menu-con a {
    padding: 8px;
}

.menu-phu {
    display: none;
    position: absolute;
    top: 0;
    left: 220px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #777;
    width: 220px;
}

.tinhoc:hover .menu-phu {
    display: block;
}