/* Áp dụng kiểu dáng chung cho toàn bộ phần thân (body) của trang web */
body {
    font-family: "Times New Roman"; /* Đổi phông chữ chính thành Times New Roman */
    font-size: 14pt;               /* Đặt kích thước chữ mặc định là 14pt */
}

/* Kiểu dáng cho thẻ tiêu đề lớn nhất (h1) */
h1 {
    text-align: center;            /* Căn giữa dòng chữ tiêu đề h1 */
    font-size: 20pt;               /* Đặt kích thước chữ tiêu đề h1 là 20pt */
}

/* Kiểu dáng cho thẻ tiêu đề phụ (h2) */
h2 {
    font-size: 16pt;               /* Đặt kích thước chữ tiêu đề h2 là 16pt */
}

/* Kiểu dáng cho các đoạn văn bản (p) */
p {
    text-align: justify;           /* Căn đều hai bên mép cho đoạn văn bản */
}

/* Kiểu dáng cho từng mục trong danh sách (li) */
li {
    margin-bottom: 5px;            /* Tạo khoảng cách phía dưới 5px giữa các mục trong danh sách */
}